[push]
	default = simple
[color]
	ui = auto
[alias]
	ci = commit
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpi = cherry-pick -x
	di = diff -M -C
	dia = diff -M -C HEAD
	dic = diff --cached -M -C
	f = fetch
	git = !git
	lga = log --all --decorate --graph --oneline
	lgp = log --patch-with-stat -M -C
	lgs = log --stat -M -C
	m = merge --no-ff
	mff = merge --ff-only
	p = pull --rebase
	pff = pull --ff-only
	pu = push -u origin HEAD
	rea = rebase --abort
	resq = rebase --autosquash -i
	rec = rebase --continue
	rei = rebase -i
	reset-upst = reset --hard @{upstream}
	st = status
	sw = switch
	swd = switch --detach

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[url "git@github.com:"]
	pushinsteadof = "https://github.com/"
	pushinsteadof = "git://github.com/"
[include]
	path = ~/.gitconfig.local
[diff]
	compactionHeuristic = true
[pull]
	ff = only
	rebase = false
