[include]
	path = ~/.gitconfig.local
[user]
	signingkey = 28A22BD8
[push]
	default = simple
[color]
	ui = auto
[alias]
	ci = commit
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpi = cherry-pick -x
	di = diff -M -C
	dia = diff -M -C HEAD
	dic = diff --cached -M -C
	f = fetch
	lga = log --all --decorate --graph --oneline
	m = merge --no-ff
	mff = merge --ff-only
	p = pull --rebase
	st = status


[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[url "git@github.com:turenar/"]
	insteadof = gh:
[url "git@github.com"]
	pushinsteadof = "https://github.com/"
	pushinsteadof = "git://github.com/"
